p {
	font-family: Arial, Helvetica, sans-serif;
	
}

button {
	background-color: white; 
	color: black;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid grey;
}
  
button:hover {
	background-color: lightgrey;
}

table, th, td {
	border-collapse: collapse;
}

.upgrade {
	width: 210px;
	height: 110px;
}