p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 0.4;
	color: lightgray;
}

#partiCount {
	color: white;
}

#gainParti {
	margin: auto;
	display: block;
}

#powerCount {
	color: violet;
}

body {
	background-color: #1a1814;
}

button {
	background-color: white; 
	color: black;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 2px solid grey;
	border-radius: 4px;
	box-shadow: 1px 1px #888888;
}
  
button:hover {
	background-color: lightgrey;
}

table, th, td {
	border-collapse: collapse;
}

#upgradeTable {
	border: none;
}

.upgrade {
	width: 210px;
	height: 110px;
}

#chall1 {
	border: 2px solid white;
	padding: 20px 20px;
}

.challengebtn {
	margin: auto;
	display: block;
	width: 100px;
	height: 35px;
	padding: 6px 10px;
}

.challenge {
	text-align: center;
}